/* css styles */


body {
    background-color: #222831; /* Background color */
    font-family: 'Montserrat', sans-serif; /* Font family */
    color: #f0eddd; /* Text color */
    font-size: 0.9rem; /* Text size */
}

a {
    color: #8ecae6;
}

a:hover {
    color: #219ebc;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Header font family */
    font-weight: 700; /* Header font weight */
    color: #f8cb77;
}

h1 {
    font-size: 1.5rem; /* Header font size */
}

h2 {
    font-size: 1.25rem; /* Subheader font size */
}

h3 {
    font-size: 1.125rem; /* Subheader font size */
}

div.listing-description {
    color: #f0eddd; /* Text color */
}

div.listing-date {
    color: #f0eddd; /* Text color */
}

div.listing-author {
    color: #f0eddd; /* Text color */
}
  
/* Optional: Add a transition for smoother visual effect */
.about-link {
    transition: color 0.4s ease;
}